body{ background-color: #F2B6A0}

#container{
    background-color: #9AEBA3;
    width: 950px;
    margin: 20px auto;
    border: 4px solid #A68F97;
    padding: 20px;
}

header {
    text-align: center;
}
header h1 {
    color: #A68F97;
    font-size:30px;
}

nav {
    text-align: center;
    border-top: 4px solid #A68F97;
    border-bottom: 4px solid #A68F97;
    padding: 20px 0;
}

nav a {
    color: #A68F97;
    font-size: 30px;
    margin: 0 20px;
}

nav a:hover {
    color: #36210b;
    text-decoration: none;
}

main h2 {
    color: #36210b;
    text-align: center;

}

main {
    margin: 20px auto;
    border: 4px solid #A68F97;
    padding: 20px;
    border-radius: 20px;
}


main h2 {
    color:#36210b;
    text-align: center;
}

#container > img {
    display: block;
    margin: 20px auto;
    width: 475px;
    border-radius: 20px;
}

footer {
    padding: 40px;
    text-align: center;
    border-top: 4px solid #A68F97;

}

main h3 {
    text-align: center;
}

